gw/hmbst/SendSmsService/SendSmsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.chinatelecom.com.cn/wsdl/besttone/sms/send/v2_1/service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.chinatelecom.com.cn/wsdl/besttone/sms/send/v2_1/service" xmlns:intf="http://www.chinatelecom.com.cn/wsdl/besttone/sms/send/v2_1/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.chinatelecom.com.cn/wsdl/besttone/sms/send/v2_1/service" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SendSmsRequest">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="receiverAddress" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="senderAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="in0" type="impl:SendSmsRequest"/>
   <complexType name="SendSmsResponse">
    <sequence>
     <element name="requestIdentifier" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="sendSmsReturn" type="impl:SendSmsResponse"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendSmsRequest">

      <wsdl:part element="impl:in0" name="in0"/>

   </wsdl:message>

   <wsdl:message name="sendSmsResponse">

      <wsdl:part element="impl:sendSmsReturn" name="sendSmsReturn"/>

   </wsdl:message>

   <wsdl:portType name="SendSmsService">

      <wsdl:operation name="sendSms" parameterOrder="in0">

         <wsdl:input message="impl:sendSmsRequest" name="sendSmsRequest"/>

         <wsdl:output message="impl:sendSmsResponse" name="sendSmsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SendSmsServiceSoapBinding" type="impl:SendSmsService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendSms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SendSmsServiceService">

      <wsdl:port binding="impl:SendSmsServiceSoapBinding" name="SendSmsService">

         <wsdlsoap:address location="http://localhost:8080/services/SendSmsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

